{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/custom/fieldset.html" with inline_admin_formsets=inline_admin_formsets %}
    {% endfor %}
    <!--<div class="submit-row">-->

    <!--<input type="button" onclick="CreateTableFromJSON()" value="Show Payments" />-->
    <!--<p id="showData"></p>-->
<input type="button" onclick="ShowDiv()"name="Payments" value="Show Payments"/>
<div id="table" style="display:none;">
<table>
<tr>
  <th>ID</th>
  <th>Amount</th>
  <th>Date</th>
</tr>
{% for b in x %}
<tr>
  <td>{{ b.id }}</td>
  <td>{{ b.amount }}</td>
  <td>{{ b.date }}</td>
</tr>
{% endfor %}
</table>
</div>
<script type="text/javascript">function ShowDiv() {
    document.getElementById("table").style.display = "";
}</script>
{% endblock %}